@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="dashboard-buttons" class="section">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>Manage Product</h2>
        <p>Select a section to manage</p>

        <div class="d-flex justify-content-center gap-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <a href="/Categories/Index" class="btn btn-primary btn-lg px-5">Category</a>
            <a href="/Products/Index" class="btn btn-success btn-lg px-5">Products</a>
        </div>
    </div>
</section>
